<!DOCTYPE html>
<div id="footer">
    <p>
        <!--
        <a href="index.html" data-contents="home">Home</a> |
        <a href="about.html">About</a> |
        <a href="news.html">News</a> |
        <a href="calendar.html">Calendar</a> |
        <a href="photo_gallery.html">Photo Gallery</a> |
        <a href="information_links.html">Links</a> |
        <a href="faq.html">FAQ</a> |
        <a href="contact.html">Contact</a>
        -->
        <br \>Created by: Chris Nelson &amp; Patrick Yang
    </p>
</div>
