<div id="masthead" class="auto-style1" style="width: 670px">
    <h1>GMVCSC  </h1>
    <h3>Greater Miami Valley Computer Science Circle</h3>
</div>
<div class="buttons">
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="news.html">News</a>
        </li>
        <li>
            <a href="calendar.html">Calendar</a>
        </li>
        <li>
            <a href="photo_gallery.html">Photo Gallery</a>
        </li>
        <li>
            <a href="information_links.html">Links</a>
        </li>
        <li>
            <a href="faq.html">FAQ</a>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li>
        <li>
            <a href="events.html">Events-Registration</a>
        </li>
    </ul>
</div>