<!DOCTYPE html>
<div id="masthead" class="auto-style1" style="width: 670px">
    <h1>GMVCSC </h1>
    <h3>Greater Miami Valley Computer Science Circle</h3>
</div>
<div class="buttons" id="navbar">
    <ul>
        <li data-contents="home">Home</li>
        <li data-contents="news">News</li>
        <li data-contents="calendar">Calendar</li>
        <li data-contents="photo_gallery">Photo Gallery</li>
        <li data-contents="information_links">Links</li>
        <li data-contents="faq">FAQ</li>
        <li data-contents="contact">Contact</li>
        <li data-contents="event-reg">Event Registration</li>
    </ul>
</div>